In [1]:
import numpy as np 
import pandas as pd 
import re

from time import sleep
import time as time

In [3]:
sample_data = pd.read_csv('c:/users/crid2/nl_test/news_headline_total.csv' ,header=None)

In [4]:
news_title= sample_data.T
news_title.columns = ['title'] 
news_title['label'] = 0 
news_title.to_csv('new_sample.csv')

In [6]:
news_title = news_title.replace(['↑\s*', '↓\s*']  ,  ['상승' , '하락'], regex=True)
news_title

                                                   title  label
0          [아이넷 AI 로봇 기자] 특징주, 무림페이퍼-제지 테마 상승세에 10.4% 상승      0
1      [아이넷 AI 로봇 기자] 특징주, 영풍제지-골판지 제조 테마 상승세에 28.29% 상승      0
2          [아이넷 AI 로봇 기자] 특징주, 깨끗한나라-제지 테마 상승세에 5.65% 상승      0
3          [아이넷 AI 로봇 기자] 특징주, 신풍제지-제지 테마 상승세에 20.43% 상승      0
4        "한섬, 업황 회복으로 실적 모멘텀 지속"...비중확대는 DSR무관 야호스탁 상품으로      0
...                                                  ...    ...
24970  [아이넷 AI 로봇 기자] 디오 '디지털 임플란트는 디오!' 증권사 발표에 강세…3.8%      0
24971  [아이넷 AI 로봇 기자] 에스트래픽(234300), 인천국제공항공사와 71.5억원...      0
24972                    미래에셋자산운용, 글로벌 테마형 ETF 신규 상장 이벤트      0
24973                  메디아나, 2분기 영업익 18.5억원…2분기 연속 흑자 행진      0
24974             두산중공업, 미 뉴스케일파워에 추가 투자…소형모듈원전 사업 협력 강화      0

[24975 rows x 2 columns]

In [7]:
# (df.index[df['B'] == 19].tolist())  데이터 전처리용 삭제할 index 추출 


# idx2 = news_title.index[news_title['title'].str.contains('[부고]')]
# news_title = news_title.drop(idx2)

# idx3 = news_title.index[news_title['title'].str.contains('[게시판]')]
# news_title = news_title.drop(idx3)

# idx4 = news_title.index[news_title['title'].str.contains('[증시신상품]')]
# news_title = news_title.drop(idx4)

# idx5 = news_title.index[news_title['title'].str.contains('[유가증권시장 공시]')]
# news_title = news_title.drop(idx5)

# idx6 = news_title.index[news_title['title'].str.contains('[인사]')]
# news_title = news_title.drop(idx6)

# idx7 = news_title.index[news_title['title'].str.contains('[M&A 매물장터]')]
# news_title = news_title.drop(idx7)

# idx8 = news_title.index[news_title['title'].str.contains('[포토]')]
# news_title = news_title.drop(idx8)

# idx9 = news_title.index[news_title['title'].str.contains('[증시신상품]')]
# news_title = news_title.drop(idx9)

# idx10 = news_title.index[news_title['title'].str.contains('[공모주 인사이드]')]
# news_title = news_title.drop(idx10)

# idx11 = news_title.index[news_title['title'].str.contains('[장마감 이슈]')]
# news_title = news_title.drop(idx11)

# idx12 = news_title.index[news_title['title'].str.contains('[AI 개장전 분석]')]
# news_title = news_title.drop(idx12)

In [8]:
idx0 = news_title.index[(news_title['title'].str.contains('아이넷')) | (news_title['title'].str.contains(r'[[표]]') )]
news_title = news_title.drop(idx0)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [9]:
idx2 = news_title.index[news_title['title'].str.contains(r'[[부고]]')]
news_title = news_title.drop(idx2)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [10]:
idx3 = news_title.index[news_title['title'].str.contains(r'[[게시판]]')]
news_title = news_title.drop(idx3)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [11]:
idx4 = news_title.index[news_title['title'].str.contains(r'[[증시신상품]]')]
news_title = news_title.drop(idx4)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [12]:
idx5 = news_title.index[news_title['title'].str.contains(r'[[유가증권시장 공시]]')]
news_title = news_title.drop(idx5)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [13]:
idx6 = news_title.index[news_title['title'].str.contains(r'[[인사]]')]
news_title = news_title.drop(idx6)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [14]:
idx7 = news_title.index[news_title['title'].str.contains(r'[[M&A 매물장터]]')]
news_title = news_title.drop(idx7)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [15]:
idx8 = news_title.index[news_title['title'].str.contains(r'[[포토]]')]
news_title = news_title.drop(idx8)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [16]:
idx9 = news_title.index[news_title['title'].str.contains(r'[[증시신상품]]')]
news_title = news_title.drop(idx9)

In [17]:
idx10 = news_title.index[news_title['title'].str.contains(r'[[공모주 인사이드]]')]
news_title = news_title.drop(idx10)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [18]:
idx11 = news_title.index[news_title['title'].str.contains(r'[[장마감 이슈]]')]
news_title = news_title.drop(idx11)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [19]:
idx12 = news_title.index[news_title['title'].str.contains(r'[[AI 개장전 분석]]')]
news_title = news_title.drop(idx12)

C:\Users\crid2\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:1214: FutureWarning: Possible nested set at position 1
  if regex and re.compile(pat).groups:

In [20]:
idx13 = news_title.index[(news_title['title'].str.contains('오늘의')) | (news_title['title'].str.contains('이 상품'))]
news_title = news_title.drop(idx13)

In [21]:
# 라벨 사전처리 작업 (상승, 오른 , 흑자 , 최대 실적  , 최대실적 , 순매수 , 매수 , 고성장 , 반등 , 기대 , 증가 )

# 폭락, 기대이하 감소

In [22]:
up_stock_word = news_title.index[(news_title['title'].str.contains('상승')) | (news_title['title'].str.contains('오른'))| (news_title['title'].str.contains('흑자'))
                        | (news_title['title'].str.contains('최대실적'))| (news_title['title'].str.contains('최대 실적'))| (news_title['title'].str.contains('순매수'))
                        | (news_title['title'].str.contains('매수'))| (news_title['title'].str.contains('고성장'))| (news_title['title'].str.contains('반등'))| (news_title['title'].str.contains('기대'))
                        | (news_title['title'].str.contains('증가'))
                        | (news_title['title'].str.contains('상향'))].values

In [23]:
for i in up_stock_word : 
    news_title['label'][i] = 1

C:\Users\crid2\AppData\Local\Temp\ipykernel_216\505068254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news_title['label'][i] = 1

In [24]:
news_title

                                                 title  label
4      "한섬, 업황 회복으로 실적 모멘텀 지속"...비중확대는 DSR무관 야호스탁 상품으로      0
6                데브시스터즈 1분기 영업이익 94억원…작년 동기 대비 60.2%하락      0
7            "호텔·상가 리츠, 리오프닝 기대"...대비는 DSR무관 골드스탁 재원으로      1
8                            파멥신, 제프리스 헬스케어 컨퍼런스 초청 참석      0
9                   한화자산운용, 세계 최초 대체자산 전반에 투자하는 ETF 상장      0
...                                                ...    ...
24964             [코스피] 11.34p(0.35%) 내린 3,232.70(장종료)      0
24965              [코스닥] 6.19p(0.59%) 내린 1,043.64(장종료)      0
24972                  미래에셋자산운용, 글로벌 테마형 ETF 신규 상장 이벤트      0
24973                메디아나, 2분기 영업익 18.5억원…2분기 연속 흑자 행진      1
24974           두산중공업, 미 뉴스케일파워에 추가 투자…소형모듈원전 사업 협력 강화      0

[11051 rows x 2 columns]

In [27]:
news_title = news_title.reset_index(drop=True)

In [28]:
news_title.to_csv('test01.csv')

In [32]:
news_title.groupby(by='label').count()

       title
label
0       8133
1       2918